/* Login  ----------------------------------------------------------------------   */

.a-login-view {
	background: white url('LoginBackground.png') repeat-x;
}

.a-login-main-content {
	width: 1000px;
	background: transparent;
	margin: 0 auto;
}

.a-login-top-bar {
	height: 76px;
}

button.a-login-logo {
	float: left;
	height: 58px;
	width: 236px;
	background: url('LoginLogo.png') no-repeat;
	margin: 10px 0 0 32px;
	padding: 0;
}

.a-login-fields {
	float: right;
	margin-top: 10px;
	margin-right: 54px;
}

.a-login-fields .v-captiontext, .a-login-fields .v-button-caption {
	color: white;
}

.a-login-username, .a-login-password {
	display: inline-block;
	zoom: 1;			/* IE6 stuff */
	*display: inline;	/* IE6 stuff */
	margin-right: 7px;
}

.a-login-username .v-textfield {
	width: 162px;
}

.a-login-button {
	vertical-align: bottom;
}

.a-login-forgot-password {
	display: block;
	margin-top: 4px;
	margin-left: 178px;
}

.a-login-picture {
	display: inline-block;
	zoom: 1;			/* IE6 stuff */
	*display: inline;	/* IE6 stuff */
	width: 548px;
	margin-top: 23px;
}

.a-login-rightside {
	display: inline-block;
	zoom: 1;			/* IE6 stuff */
	*display: inline;	/* IE6 stuff */
	width: 427px;
	margin-left: 16px;
	vertical-align: top;
}

.a-login-advert-1 {
	font-size: 34px;
    font-weight: bold;
	line-height: normal;
    padding-top: 40px;
}
button.a-login-signup-button {
	height: 45px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 24px;
	margin-left: 100px;
	font-size: 26px;
}
.a-login-advert-3 {
	font-size: 22px;
    line-height: normal;
	padding-top: 70px;
}
.a-login-advert-4 {
	font-size: 22px;
    line-height: normal;
	padding-top: 16px;
}

/* Signup  ----------------------------------------------------------------------   */

.a-signup-view {
	padding-top: 40px;
	padding-left: 25px;
}

.a-signup-welcome1 {
	font-size: 34px;
	font-weight: bold;
    line-height: normal;
}
.a-signup-welcome2 {
	font-size: 21px;
    line-height: normal;
}

.a-signup-fields {
	padding-top: 10px;
	padding-left: 20px;	
}

.a-signup-fields .v-caption {
	margin-top: 7px;
}

.a-signup-email, .a-signup-username, .a-signup-password, .a-signup-password-confirmation { 
	display: block;
	width: 180px;
}

.a-signup-button, .a-signup-cancel-button {
	margin-top: 15px;
	margin-right: 12px;
}

button.a-signup-cancel-button {
	background-color: gray;
	border-color: darkgray;
}
