/* Login  ----------------------------------------------------------------------   */

.a-login-view {
	background: white url('LoginBackground.png');
}

.a-login-main-grid {
	width: 1000px;
	background: transparent;
	margin: 0 auto;
}

.a-login-logo {
    height: 74px;
	margin-left: 20px;
	background: transparent;
	border: none;
}
.a-login-logo .v-nativebutton-caption {
	position: relative;
	top: -3px;
	color: orange;
	font-size: 60px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #F5F5F5;
}

.a-login-fields-grid .v-gridlayout-spacing-on {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 7px;
	padding-bottom: 4px;
}

.a-login-fields-grid .v-captiontext {
	color: white;
}
.a-login-fields-grid .v-button-caption {
	color: white;
}
.a-login-fields-grid .v-nativebutton {
	height: 24px;
	background: #E44545;
	border-style: outset;
	border-width: 1px;	
	border-color: #E49E9E;
}
.a-login-fields-grid .v-nativebutton-caption {
	color: white;
	font-weight: bold;
}

.a-login-picture {
	width: 548px;
	padding-top: 24px;
	padding-right: 16px;
}

.a-login-advert-1 {
	font-size: 34px;
    font-weight: bold;
	line-height: normal;
    padding-top: 45px;
}
.a-login-signup-button {
	background: #E44545;
	border-style: round;
	border-width: 1px;	
	border-color: #E49E9E;
	padding-left: 15px; 
	padding-right: 15px; 
	margin-top: 24px;
	margin-right: 35px
}
.a-login-signup-button .v-nativebutton-caption {
	color: white;
	font-size: 26px;
}
.a-login-advert-3 {
	font-size: 22px;
    line-height: normal;
	padding-top: 108px;
}
.a-login-advert-4 {
	font-size: 22px;
    line-height: normal;
	padding-top: 16px;
}

/* Signup  ----------------------------------------------------------------------   */

.a-signup-view {
	padding-top: 34px;
	padding-left: 20px;
}

.a-signup-welcome1 {
	font-size: 34px;
	font-weight: bold;
    line-height: normal;
}
.a-signup-welcome2 {
	font-size: 21px;
    line-height: normal;
}

.a-signup-fields {
	padding-top: 20px;
	padding-left: 20px;
}
.a-signup-fields .v-nativebutton {
	height: 24px;
	background: #E44545;
	border-style: outset;
	border-width: 1px;
	border-color: #E49E9E;
	margin-top: 6px;
}
.a-signup-fields .v-nativebutton-caption {
	color: white;
	font-weight: bold;
}
