/* Login  ----------------------------------------------------------------------   */

.a-auth-view {
}

.a-auth-topbar {
	height: 78px;
	background: orange url('LoginTopbarBackground.png') repeat-x;
}

.a-auth-topbar-content {
	min-width: 900px;
	max-width: 1280px;
	background: transparent;
	margin: 0 auto;
}

button.a-auth-topbar-logo {
	float: left;
	height: 61px;
	width: 214px;
	background: url('LoginLogo.png') no-repeat;
	padding: 0;
	margin: 7px 0 0 45px;
	border: none;
}

.a-auth-topbar-fields {
	float: right;
	margin: 16px 50px 0 0;
}

.a-auth-topbar-fields .v-captiontext, .a-auth-topbar-fields .v-button-caption {
	color: white;
}

.a-auth-topbar-fields .v-disabled {
	opacity: .6;
	filter: alpha(opacity = 70);
}

.a-auth-topbar-email {
	display: inline-block;
	zoom: 1;			/* IE stuff */
	*display: inline;	/* IE stuff */
	margin-right: 7px;
	width: 190px;
}

.a-auth-topbar-enter-button {
	vertical-align: bottom;
}

.a-auth-main {
	background: url('LoginMainBackground.jpg');
	__background-size: 1350px;
	background-position: center top;
	background-repeat: repeat-x;
	min-height: 670px;
}

.a-auth-main-content {
	min-width: 900px;
	max-width: 1280px;
	margin: 0 auto;
}


/* Login  ----------------------------------------------------------------------   */

.a-login-view {
	padding: 16px 20px 20px 20px;
	margin: 20px 30px;
	float: right;
	background: white;
	border-radius: 6px;
	box-shadow: 3px 3px 12px #444;
	-webkit-box-shadow: 3px 3px 12px #444;
	-moz-box-shadow: 3px 3px 12px #444;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#505050', Direction=135, Strength=5);
	
}

.a-login-welcome1 {
	font-size: 24px;
	font-weight: bold;
    line-height: normal;
}

.a-login-fields {
	padding: 6px 0 0 4px;	
}

.a-login-password { 
	display: inline-block;
	zoom: 1;			/* IE stuff */
	*display: inline;	/* IE stuff */
	width: 180px;
}

.a-login-button, .a-login-cancel-button {
	margin-left: 10px;
	vertical-align: bottom;
}

button.a-login-cancel-button {
	background-color: gray;
	border-color: darkgray;
}

.a-login-forgot-password {
	display: block !important;  /* somehow needed !important for IE7 */
	margin-top: 7px;
}


/* Signup  ----------------------------------------------------------------------   */

.a-signup-view {
	padding: 16px 23px 20px 23px;
	margin: 20px 30px;
	float: right;
	background: white;
	border-radius: 6px;
	box-shadow: 3px 3px 12px #444;
	-webkit-box-shadow: 3px 3px 12px #444;
	-moz-box-shadow: 3px 3px 12px #444;
}

.a-signup-welcome1 {
	font-size: 26px;
	font-weight: bold;
    line-height: normal;
}
.a-signup-welcome2 {
	font-size: 18px;
    line-height: normal;
}

.a-signup-fields {
	padding-top: 10px;
	padding-left: 20px;	
}

.a-signup-fields .v-caption {
	margin-top: 7px;
}

.a-signup-password, .a-signup-password-confirmation { 
	display: block;
	width: 180px;
}

.a-signup-button, .a-signup-cancel-button {
	margin-top: 15px;
	margin-right: 12px;
}

button.a-signup-cancel-button {
	background-color: gray;
	border-color: darkgray;
}
