<?xml version="1.0" encoding="UTF-8"?>


<web-app>

  <servlet>
    <servlet-name>socialauth-spike</servlet-name>
    <servlet-class>
        spike.SocialAuthServlet
    </servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>socialauth-spike</servlet-name>
    <url-pattern>/auth/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>socialauth-callback</servlet-name>
    <servlet-class>
        spike.CallBackServlet
    </servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>socialauth-callback</servlet-name>
    <url-pattern>/authresp/*</url-pattern>
  </servlet-mapping>
  
</web-app>