@import "../reindeer/styles.css";

.v-app {
	background: white;
}

.a-login-view {
	background-image: url('resource/login/LoginBackground.png');
}

.a-login-main-grid {
	padding-top: 5px;
}

.a-login-agitter-title {
	font-family: "Arial Black", Arial, sans-serif;
	color: white;
	text-shadow: 2px 2px 1px #000000;
	font-size: 54px;
    line-height: 68px;
    position: relative;
	top: -4px;
	padding-left: 30px;
}

.a-login-fields-grid .v-gridlayout-spacing-on {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 7px;
	padding-bottom: 4px;
}

.a-login-fields-grid .v-captiontext {
	color: white;
}
.a-login-fields-grid .v-button-caption {
	color: white;
}
.a-login-fields-grid .v-nativebutton {
	height: 24px;
	border-style: outset;
	border-width: 1px;	
	border-color: #E49E9E;
	background: #E44545;
}
.a-login-fields-grid .v-nativebutton-caption {
	color: white;
}

.a-login-picture {
	padding-top: 34px;
	padding-right: 16px;
	width: 548px;
}

.a-login-advert-1 {
	font-weight: bold;
	padding-top: 44px;
	font-size: 34px;
    line-height: normal;
}
.a-login-advert-2 {
	padding-top: 36px;
	font-size: 28px;
    line-height: normal;
}
.a-login-advert-3 {
	padding-top: 76px;
	font-size: 22px;
    line-height: normal;
}
.a-login-advert-4 {
	padding-top: 16px;
	font-size: 22px;
    line-height: normal;
}
