@import "../reindeer/styles.css";

.v-app {
	background: white;
}


/* Login  ----------------------------------------------------------------------   */

.a-login-view {
	background-image: url('resource/login/LoginBackground.png');
}

.a-login-agitter-logo {
    height: 78px;
	margin-left: 20px;
	border: none;
	background: transparent;
}
.a-login-agitter-logo .v-nativebutton-caption {
	font-weight: bold;
	color: white;
	text-shadow: 2px 2px 1px #000000;
	font-size: 60px;
	position: relative;
	top: -3px;
}

.a-login-fields-grid .v-gridlayout-spacing-on {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 7px;
	padding-bottom: 4px;
}

.a-login-fields-grid .v-captiontext {
	color: white;
}
.a-login-fields-grid .v-button-caption {
	color: white;
}
.a-login-fields-grid .v-nativebutton {
	height: 24px;
	border-style: outset;
	border-width: 1px;	
	border-color: #E49E9E;
	background: #E44545;
}
.a-login-fields-grid .v-nativebutton-caption {
	color: white;
	font-weight: bold;
}

.a-login-picture {
	padding-top: 24px;
	padding-right: 16px;
	width: 548px;
}

.a-login-advert-1 {
	font-weight: bold;
	padding-top: 34px;
	font-size: 34px;
    line-height: normal;
}
.a-login-advert-2 {
	padding-top: 36px;
	font-size: 28px;
    line-height: normal;
}
.a-login-advert-3 {
	padding-top: 76px;
	font-size: 22px;
    line-height: normal;
}
.a-login-advert-4 {
	padding-top: 16px;
	font-size: 22px;
    line-height: normal;
}


/* Signup  ---------------------------------------------------------------------- */

.a-signup-view {
	padding-top: 34px;
	padding-left: 20px;
}

.a-signup-welcome1 {
	font-weight: bold;
	font-size: 34px;
    line-height: normal;
}
.a-signup-welcome2 {
	// padding-top: 10px;
	font-size: 21px;
    line-height: normal;
}

.a-signup-fields {
	padding-top: 20px;
	padding-left: 20px;
}

.a-signup-fields .v-nativebutton {
	margin-top: 6px;
	height: 24px;
	border-style: outset;
	border-width: 1px;
	border-color: #E49E9E;
	background: #E44545;
}
.a-signup-fields .v-nativebutton-caption {
	color: white;
	font-weight: bold;
}
