/*** Genéricos ***/

html{background-color:#EEE;}

body{
	margin:0;
	padding:0;
	background-color:#EEE;
	font-family:Arial;
}
#all{
	width:700px;
	margin:30px auto;
}

#container{
	padding:50px;
	background-color:#FFF;
	border:1px solid #E2E2E2;
	float:left;
	width:600px;
	margin:0 0 30px;
}

p{
	color:#4BC9FF;
	font-size:20px;
	letter-spacing:-0.5px;
	margin:0 0 10px;
}

h1{
	margin:0 0 20px;
	letter-spacing:-1.5px;
	font-size:2.2em;
	line-height:1.1em;
	width:60%;
}

h1.sorry{
	width:75%;
}

input,
textarea{
	font-family:Arial;
	border:1px solid #E2E2E2;
	color:#333;
	background:#FFF url(images/bg-input.jpg) repeat-x 0 0;
}

input:focus,
textarea:focus{
	background:#FFFFF2 url(images/bg-input-focus.jpg) repeat-x 0 0;
}

form label{
	background:#4BC9FF url(images/bg-label.jpg) repeat-x left top;
	color:#FFF;
	text-shadow:-1px -1px 0px #03ACF4;
}

.submit input{
	border:none;
}

.submit .btn{
	display:block;
	width:104px;
	height:50px;
	font-size:16px;
	font-weight:bold;
	text-shadow:1px 1px 1px #FFF;
	text-align:center;
	background:url(images/bg-button.jpg) no-repeat 0 0;
	outline:0px;
}

.submit .btn:hover{
	background:url(images/bg-button.jpg) no-repeat 0 -50px;
	cursor:pointer;
}

.submit .btn:active{
	background:url(images/bg-button.jpg) no-repeat 0 -100px;
	cursor:pointer;
}


.lamp_on{
	color:#333;
}
.lamp_off{
	color:#DDD;
}

.welcome{
	font-size:16px;
	margin:0 0 10px;
}

/*** login ***/

#login label{
	display:block;
	float:left;
	font-weight:bold;
	font-size:24px;
	padding:10px 20px;
	height:30px;
}

#login .input,
#login .submit{
	float:left;
}

#login .input input{
	padding-left:10px;
	height:46px;
	line-height:46px;
	width:320px;;
	font-size:18px;
	border-left:none;
}

#login .submit{
	margin:0 0 0 5px;
}

/*** Criar um agito ***/

#agitar div{
	margin:0 0 20px;
	clear:both;
}

#agitar label{
	display:block;
	width:580px;
	padding:0 10px;
	margin:0;
	font-size:18px;
	height:40px;
	line-height:40px;
	font-weight:bold;
	letter-spacing:-.5px;
}

#agitar .inline{
	margin:0;
	float:left;
	clear:both;
	width:600px;
	text-align:center;
}

#agitar .inline div{
	float:left;
	width:280px;
	clear:none;
}

#agitar .inline label{
	width:80px;
	float:left;
}

#agitar .inline input{
	width:159px;
	padding:0 10px;
	height:38px;
	font-size:18px;
	border-left:none;
}

#agitar .inline .hour{float:right;}
#agitar .inline .hour label{width:108px;}
#agitar .inline .hour input{width:130px;}

#agitar textarea{
	display:block;
	width:578px;
	padding:10px;
	font-family:Arial;
	margin:0;
	font-size:16px;
}

#agitar .submit{
	margin:0;
}

/*** Lista ***/

.link-agitar{
	display:block;
	background:url(images/bg-button.jpg) no-repeat 0 0;
	width:104px;
	height:50px;
	line-height:50px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color:#000;
	text-decoration:none;
	position:absolute;
	margin-left:496px;
	margin-top:-75px;
}

.link-agitar:hover{
	background:url(images/bg-button.jpg) no-repeat 0 -50px;
}

.link-agitar:active{
	background:url(images/bg-button.jpg) no-repeat 0 -100px;
}

#agitos .dia{
	background:#4BC9FF url(images/bg-label.jpg) repeat-x left top;
	color:#FFF;
	text-shadow:-1px -1px 0px #03ACF4;
	text-align:center;
	height:40px;
	line-height:40px;
	font-size:18px;
	font-weight:bold;
	float:left;
	clear:both;
	width:100%;
}

#agitos .agitos{
	float:left;
	clear:both;
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
	width:598px;
}

#agitos .hora{
	background-color:#F8F8F8;
	border-bottom:1px solid #E4E4E4;
}

#agitos .hora p{
	float:left;
	width:70px;
	font-size:18px;
	font-weight:bold;
	padding:10px 0;
	text-align:center;
}

#agitos .agito{
	padding:10px;
	margin-left:70px;
	background-color:#FFF;
}

#agitos .agito:hover{
	background-color:#FFFFF2;
}

#agitos .descricao{
	font-size:14px;
}

#agitos .quem{
	font-size:12px;
	color:#999;
	margin:5px 0 0;
}

#agitos .quem span{
	color:#4BC9FF;
	text-decoration:underline;
}

.agito .infos{
	background:#95DDFF url(images/bg-label.jpg) repeat-x left bottom;
	color:#FFF;
	text-shadow:-1px -1px 0px #7EC6E8;
	clear:both;
	float:left;
	width:600px;
	height:50px;
}

.agito .infos p{
	float:left;
	color:#FFF;
	margin:12px 10px;
	font-size:22px;
	font-weight:bold;
}

.agito .infos p.owner{
	float:right;
	font-size:16px;
	margin:15px 10px;
}

.agito .description{
	padding:15px;
	border:1px solid #E2E2E2;
	border-top:none;
	float:left;
	clear:both;
	width:568px;
}

.agito .description p{
	margin:0;
	color:#333;
	font-size:16px;
}